@model UcenikOdjeljenje


<form asp-action="SnimiOdjeljenje" method="post">

    <div class="row">
        <div class="form-group col-md-6 col-md-push-3">
            <label asp-for="UcenikId">Ucenik</label>
            <select asp-for="UcenikId" asp-items="@Model.Ucenik" class="form-control">
                <option value="">Izaberi ucenika...</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6 col-md-push-3">
            <label asp-for="OdjeljenjeId">Odjeljenje</label>
            <select asp-for="OdjeljenjeId" asp-items="@Model.Odjeljenja" class="form-control">
                <option value="">Izaberi odjeljenje...</option>
            </select>
        </div>
    </div>

    <div class="col-md-4 col-md-push-5">
        <button type="submit" class="btn btn-default">Dodaj ucenika!</button>
    </div>

</form>