@model UcenikDodajVM
@{
    ViewData["Title"] = "Dodaj ucenika!";
}



<h2>DodajUcenika</h2>
<form asp-action="DodajUcenika" method="post" class="form-horizontal" role="form">

    <div class="form-group">
        <label asp-for="Ime" class="col-md-2 control-label">Ime ucenika:</label>
        <div class="col-md-5">
            <input asp-for="Ime" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Prezime" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Prezime" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Username" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Username"  class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Password"  class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Telefon" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Telefon" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="Email" class="form-control" />
        </div>
    </div>


    <div class="form-group">
        <label asp-for="DatumRodjenja" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="DatumRodjenja" type="date" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="RoditeljID" class="col-md-2 control-label">Odjeljenje</label>
        <div class="col-md-5">
            <select asp-for="RoditeljID" asp-items="@Model.Roditleji" class="form-control"></select>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="OdjeljenjeID" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <select asp-for="OdjeljenjeID" asp-items="@Model.Odjeljenja" class="form-control"></select>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="BrojUDnevniku" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="BrojUDnevniku" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="GradID" class="col-md-2 control-label">Odjeljenje</label>
        <div class="col-md-5">
            <select asp-for="GradID" asp-items="@Model.Gradovi" class="form-control"></select>
        </div>
    </div>

    <button type="submit" class="btn btn-danger col-md-3 col-md-offset-3">Dodaj ucenika!</button>
</form>