@model eSchoolSemi.Web.Helper.PaginatedList<Ucenik>
@{
    ViewData["Title"] = "Index";



    var ucenik = new UcenikDodajVM();

    ucenik = ViewBag.Gradovi;



}





<div>

    <div class="container-fluid">
        <div class="row">
            <div class="form-group">
                <div class="col-sm-5 verti">

                    <input type="text" class="form-control" id="ucenikValue" placeholder="Pornadji ucenika" />
                </div>
                <div class="col-sm-3">

                    <button id="dugmeID" class="btn btn-info">Pronadji</button>
                </div>
            </div>
        </div>
    </div>
</div>


<br />
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-2">

            @Html.Partial("~/Areas/AdministratorModul/Views/Ucenik/DodajUcenika.cshtml", ucenik)

        </div>
        

    </div>
</div>

<br />

<div id="test"></div>
<div id="modalPlaceholder"></div>


<script>

    $(document).ready(function (parametars) { 

        $.ajax({
            url: "@Url.Action("_tabela", "Ucenik")", success: function (result) {
                $("#test").html(result);
            }
        });
    });

    


    $("#dugmeID").click(function (parametars) {

        var searchString = $("#ucenikValue").val();


        

        $.ajax({
            url:"/AdministratorModul/Ucenik/_tabela/?search=" +searchString+"&&sortOrder="+"@ViewData["NameSortParm"]", success: function (result){

                $("#test").html(result);
            }
        });

    });











</script>