body {
    font-family:Arial,sans-serif;
    background-color:grey;
    background-size:cover;
}

.main-section{
    margin:0 auto;
    margin-top:80px;
    padding:0;
    margin-left:80px;
}

.modal-content {
    background-color: whitesmoke;
    padding: 20px 18px;
    border-radius:10px;
}

.user-img img {
    height:120px;
    width:120px;
}

.user-img {
    margin-top:-40px;
    margin-bottom:25px;
}

.form-group input {
    border:0;
    font-size:12px;
    letter-spacing:1px;

}


