@model AdministratorIndexVM
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>


<table class="table table-bordered">
    
<thead>
    <tr>
        <th>Ime i prezime</th>
        <th>Username</th>
        <th>Password</th>

    </tr>
</thead>    
<tbody>
    @foreach (var item in Model.Administratori)
    {
    <tr>
        <td>@item.ImePrezime</td>
        <td>@item.Username</td>
        <td>@item.Password</td>
     

    </tr>
    }
</tbody>
    
</table>
<a asp-action="Dodaj" class="btn btn-danger">Dodaj</a>
<a asp-action="Obrisi" class="btn btn-danger">Obrisi sve</a>
