@model eSchoolSemi.Web.Helper.PaginatedList<Roditelj>
@{
    ViewData["Title"] = "Lista RODITLEJA";


}



<div class="container-fluid">
    <div class="row">
        <div class="form-group">
            <div class="col-sm-5 verti">

                <input type="text" class="form-control" id="roditeljValue" placeholder="Pornadji ucenika" />
            </div>
            <div class="col-sm-3">

                <button id="dugmeID" class="btn btn-info">Pronadji</button>
            </div>
        </div>
    </div>
</div>

<br />
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-2">

            <button type="button" title="Dodaj" class="btn btn-info" data-toggle="ajax-modal" data-target="#dodajRoditelj" data-url="@Url.Action("DodajRoditelja","Roditelj")">Dodaj roditelj!</button>
            
        </div>


    </div>
</div>

<br />



<div id="tabelaID" data-table="ajaxDiv"></div>
<div id="modalRoditelj"></div>
<script>
    $(document).ready(function (parametars) {

        $.ajax({
            url: "@Url.Action("tabelaRoditelji","Roditelj")", success: function (result) {
                $("#tabelaID").html(result);
            }
        });


        $("#roditeljValue").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "@Url.Action("nazivRoditelja", "Ucenik")",
                type: "POST",
                dataType: "json",
                data: { Prefix: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.text, value: item.text };
                    }))

                }
            })
        }, error: function (xhr, status, error) {
            alert("Error");
        },
        minLength: 2
    });
    });

    

    $("#dugmeID").click(function (parametars) {

        var searchString = $("#roditeljValue").val();


        $.ajax({
            url:"/AdministratorModul/Roditelj/tabelaRoditelji/?search=" + searchString + "&&sortOrder=" + "@ViewData["NameSortParm"]", success: function (result){

                $("#tabelaID").html(result);
            }
        });

    });



</script>