@model List<Grad> 

@{
    ViewData["Title"] = "Dodaj";
}

<h2>Dodaj</h2>
<table class="table table-bordered" >
    <thead>
        <tr>
            <td>GradID</td>
            <td>Ime grada</td>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.GradId</td>
                    <td>@item.Naziv</td>
                </tr>
            }
    </tbody>
</table>

