@using eSchoolSemi.Data.Models
@using eSchoolSemi.Web.Helper

@{

    KorisnickiNalog username = Context.GetLogiraniKorisnik();

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eSchoolSemi</title>

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="~/css/SideBarCss.css" />


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>






    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/site.js?v=ji3-IxbEzYWjzzLCGkF1KDjrT2jLbbrSYXw-AhMPNIA"></script>
    <script src="~/js/site.js"></script>




</head>
<body>
    <div class="wrapper" id="nesto">
        <!--Top navbar-->
        <nav class="navbar navbar-inverse navbar-fixed-top navbar-left">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">E-School</a>
                <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                    <i class="glyphicon glyphicon-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
            </div>
            <div class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Autentifikacija" asp-action="Logout">@(username?.Username) <span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
            </div>

        </nav>
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header text-center">
                <img src="~/images/School icon.png" height="72" width="72" class="img-circle" />
            </div>

            <ul class="list-unstyled components">

                <li> <a asp-area="AdministratorModul" asp-controller="Administrator" asp-action="Index">Home</a></li>
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Korisnici</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li><a asp-area="AdministratorModul" asp-controller="Ucenik" asp-action="Index">Ucenici</a></li>
                        <li><a asp-area="AdministratorModul" asp-controller="Roditelj" asp-action="Index">Roditelji</a></li>
                        <li><a asp-area="AdministratorModul" asp-controller="Nastavnik" asp-action="Index">Nastavnici</a></li>
                    </ul>
                </li>
                <li>
                    <a asp-area="AdministratorModul" asp-controller="Obavjesti" asp-action="Index">Obavjesti</a>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Nastava</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li><a asp-area="AdministratorModul" asp-controller="Odjeljenje" asp-action="Index">Odjeljenja</a></li>
                        <li><a asp-area="AdministratorModul" asp-controller="NastavniPlan" asp-action="Index">Nastavni plan i program</a></li>
                        <li><a asp-area="AdministratorModul" asp-controller="Raspored" asp-action="Index">Raspored</a></li>
                    </ul>
                </li>

            </ul>


        </nav>

        <!-- Page Content Holder -->
        <div id="content">
            <div class="container-fluid">


                @RenderBody()
                <hr />



            </div>

        </div>
    </div>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>



   
</body>
</html>
