@model NastavnikGradViewModel
@{
    ViewData["Title"] = "NastavnikDodaj";
}

<h2>NastavnikDodaj</h2>
<form asp-action="DodajNastavnika" method="post">

    <div class="row">
        <div class="form-group">
            <label asp-for="Titula">Titual:</label>
            <input asp-for="Titula" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Ime">Ime:</label>
            <input asp-for="Ime" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Prezime">Prezime:</label>
            <input asp-for="Prezime" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Username">Username:</label>
            <input asp-for="Username" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Password">Password:</label>
            <input asp-for="Password" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Email">Email:</label>
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Telefon">Telefon:</label>
            <input asp-for="Telefon" class="form-control" />
        </div>

        <label asp-for="GradID">Grad:</label>
        <select asp-for="GradID" class="form-control">
            @foreach (var o in Model.Gradovi)
        {

            <option value="@o.Value">@o.Text</option>
    }
        </select>

        <div class="form-group">
            <label asp-for="DatumRodjenja">DatumRodenja:</label>
            <input asp-for="DatumRodjenja" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="DatumZaposljenja">DatumZaposlenja:</label>
            <input asp-for="DatumZaposljenja" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Zvanje">Zvanje:</label>
            <input asp-for="Zvanje" class="form-control" />
        </div>

    </div>
    <button type="submit" class="btn btn-primary">Dodaj</button>
</form>

