@model OdjeljenjePrebaciVM
@{
    ViewData["Title"] = "PrebaciUOdljeljenje";
}

<h2>PrebaciUOdljeljenje</h2>

<form asp-action="SnimiPrebaceno" method="post">

    
        <input asp-for=" OdjeljenjeID" type="hidden" class="form-control" value="@Model.OdjeljenjeID" />
       

        <div class="form-group">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <label asp-for="Oznaka"></label>
                    <input asp-for="Oznaka" type="text" value="@Model.Oznaka" class="form-control" disabled />
                    <span asp-validation-for="OdjeljenjeID"></span>
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <label asp-for="Odjeljenja"></label>
                    <select asp-for="OdabranoOdljeljenjeID" asp-items="@Model.Odjeljenja" class="form-control"></select>
                    <span asp-validation-for="OdabranoOdljeljenjeID" class="text-danger"></span>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-default">Prebaci</button>

</form>